body{font-family:\5FAE\8F6F\96C5\9ED1,arial,sans-serif;}
*{ margin:0; padding:0;}
ul,ol {list-style:none;}
.left{float:left;}
.right{float:right;}
.clear:after { content:"."; display:block; height:0; clear:both; visibility:hidden;zoom: 1; }
.clear { zoom: 1; }
div{ outline:none;}