$red_btn: #fe4b37;
$blue_btn: #95afc9;
$gray_subtitle: #7d838e;
$blue_tip: #95afc9;
$green_tip: #7ec235;
$white: #ffffff;

.filmFlex {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  margin-top: 0.3rem;
  .filmContent {
    width: 4.09rem;
    .title {
      font-size: .3rem;
      font-weight: 600;
      margin-left: 0.2rem;
      text-overflow: ellipsis;
      overflow:hidden;
      white-space:nowrap;
    }
    .subTitle {
      font-size: .24rem;
      margin-top: 0.2rem;
      margin-left: 0.2rem;
      line-height: 0.36rem;
      .sub {
        color: $gray_subtitle;
        text-overflow: ellipsis;
        overflow:hidden;
        white-space:nowrap;
      }
      .tip {
        font-size: 0.2rem;
      }
    }
  }
}

.type {
  display: inline-block;
  padding: 0.03rem 0.14rem;
  margin-right: 0.1rem;
  margin-top: 0.2rem;
  border-radius: 0.09rem;
}
.type_d {
  composes: type;
  background-color: $green_tip;
  color: $white;
}
.type_m {
  composes: type;
  background-color: $blue_tip;
  color: $white;
}
.btn {
  padding: 0.1rem 0.45rem;
  border-radius: 1rem;
  font-size: .28rem;
  line-height: 1.8rem;
}
.btn_type_1 {
  composes: btn;
  border: 1px solid $red_btn;
  color: $red_btn;
}
.btn_type_2 {
  composes: btn;
  border: 1px solid $blue_btn;
  color: $blue_btn;
}
