.outer{ height: 0.85rem}
.header{ z-index: 100; background: rgba(255,255,255,0.7); height: 0.85rem; font-size: 0.28rem;color: #222833; line-height: 0.85rem; position:fixed; top: 0; left: 0; width: 100%;
     a{color: #222833; text-decoration: none; padding:0 0.2rem; }
    .midTitle{ font-size: 0.36rem; position: absolute; text-align: center; width: 5rem; margin-left: -2.5rem; color: #222833; top:0; left: 50%; }
}

