
.sline{
    width:7.2rem;
    h5{ font-weight: normal;
        background: #f6f8f9;
        height: 0.56rem;
        line-height:0.56rem; 
        font-size: 0.28rem;
        padding-left: 0.35rem
    }
    ul{ 
        color: #222833; margin-top: 0.3rem;
        li a{color: #222833; text-decoration: none;}
        li.linep{ font-size: 0.32rem; height: 0.88rem; line-height: 0.88rem; margin-left:0.35rem ;border-top:0.01rem solid #c4c8ce;}
        li.linep:first-child{ border: none; margin-top: -0.3rem;}
        li.toleft{float: left; height: 0.64rem; padding: 0 0.3rem; margin:  0 0 0.3rem 0.26rem; border:0.01rem solid #c4c8ce; border-radius: 0.03rem; line-height: 0.64rem;font-size: 0.28rem; }
        li.normal{border:none; height: 0.66rem; line-height: 0.66rem; padding:0; 
            font-size: 0.32rem;height: 0.88rem; line-height: 0.88rem; margin-left:0.35rem ;
            em{ background: url("../../images/loading03@2x.png") no-repeat; background-size: 0.40rem 0.40rem;width: 0.40rem; height: 0.40rem; display: inline-block; vertical-align: middle; margin-right: 0.2rem;}
            .fail{color: #007aff;}
        }
    }
    
}