$bg_gray: #f4f6f8;
$num_gray: #c3c5c6;
$num_white: #f0f0f1;
.seatWrapper {
  width: 7.5rem;
  height: 8.25rem;
  background-color: $bg_gray;
  position: fixed;
  overflow: hidden;
  bottom: 2.04rem;
}
.seatItemWrapper {
  position: absolute;
}
.seatItem {
}
.numIndexWrapper {
  position: absolute;
  width: 0.26rem;
  top: 1rem;
  background-color: $num_gray;
  color: $num_white;
}
.numIndex {
  position: absolute;
  font-size: 0.2rem;
  // display: inline-block;
}
