.navouter{ position: fixed; width: 0.3rem;  right: 0.08rem; text-align: center; top: 50%;
    li{height: 0.26rem; font-size: 0.22rem;line-height:0.26rem; color: #007aff;
        
        }
    li:first-child{height:0.52rem;font-size:0.2rem; width: 0.56rem; margin-left: -0.13rem;}
}
